<table style="width: 40%;">
  <tr>
      <th>
          <canvas
          baseChart
          [chartType]="'line'"
          [datasets]="chartData"
          [labels]="chartLabels"
          [options]="chartOptions"
          [legend]="true"
          >
          <!-- (chartClick)="onChartClick($event)"> -->
        </canvas>
      </th>
      <th>
          <canvas
          baseChart
          [chartType]="'line'"
          [datasets]="chartData"
          [labels]="chartLabels"
          [options]="chartOptions"
          [legend]="true"
          >
          <!-- (chartClick)="onChartClick($event)"> -->
        </canvas>
      </th>
      <th>
          <canvas
          baseChart
          [chartType]="'line'"
          [datasets]="chartData"
          [labels]="chartLabels"
          [options]="chartOptions"
          [legend]="true"
          >
          <!-- (chartClick)="onChartClick($event)"> -->
        </canvas>
      </th>
      <th>
          <canvas
          baseChart
          [chartType]="'line'"
          [datasets]="chartData"
          [labels]="chartLabels"
          [options]="chartOptions"
          [legend]="true"
          >
          <!-- (chartClick)="onChartClick($event)"> -->
        </canvas>
      </th>
  </tr>
  <tr>
      <th>
          <canvas
          baseChart
          [chartType]="'line'"
          [datasets]="chartData"
          [labels]="chartLabels"
          [options]="chartOptions"
          [legend]="true"
          >
          <!-- (chartClick)="onChartClick($event)"> -->
        </canvas>
      </th>
      <th>
          <canvas
          baseChart
          [chartType]="'line'"
          [datasets]="chartData"
          [labels]="chartLabels"
          [options]="chartOptions"
          [legend]="true"
          >
          <!-- (chartClick)="onChartClick($event)"> -->
        </canvas>
      </th>
      <th>
          <canvas
          baseChart
          [chartType]="'line'"
          [datasets]="chartData"
          [labels]="chartLabels"
          [options]="chartOptions"
          [legend]="true"
          >
          <!-- (chartClick)="onChartClick($event)"> -->
        </canvas>
      </th>
      <th>
          <canvas
          baseChart
          [chartType]="'line'"
          [datasets]="chartData"
          [labels]="chartLabels"
          [options]="chartOptions"
          [legend]="true"
          >
          <!-- (chartClick)="onChartClick($event)"> -->
        </canvas>
      </th>
  </tr>
  <tr>
      <th>
          <canvas
          baseChart
          [chartType]="'line'"
          [datasets]="chartData"
          [labels]="chartLabels"
          [options]="chartOptions"
          [legend]="true"
          >
          <!-- (chartClick)="onChartClick($event)"> -->
        </canvas>
      </th>
      <th>
          <canvas
          baseChart
          [chartType]="'line'"
          [datasets]="chartData"
          [labels]="chartLabels"
          [options]="chartOptions"
          [legend]="true"
          >
          <!-- (chartClick)="onChartClick($event)"> -->
        </canvas>
      </th>
      <th>
          <canvas
          baseChart
          [chartType]="'line'"
          [datasets]="chartData"
          [labels]="chartLabels"
          [options]="chartOptions"
          [legend]="true"
          >
          <!-- (chartClick)="onChartClick($event)"> -->
        </canvas>
      </th>
      <th>
          <canvas
          baseChart
          [chartType]="'line'"
          [datasets]="chartData"
          [labels]="chartLabels"
          [options]="chartOptions"
          [legend]="true"
          >
          <!-- (chartClick)="onChartClick($event)"> -->
        </canvas>
      </th>
  </tr>
  <tr>
      <th>
          <canvas
          baseChart
          [chartType]="'line'"
          [datasets]="chartData"
          [labels]="chartLabels"
          [options]="chartOptions"
          [legend]="true"
          >
          <!-- (chartClick)="onChartClick($event)"> -->
        </canvas>
      </th>
      <th>
          <canvas
          baseChart
          [chartType]="'line'"
          [datasets]="chartData"
          [labels]="chartLabels"
          [options]="chartOptions"
          [legend]="true"
          >
          <!-- (chartClick)="onChartClick($event)"> -->
        </canvas>
      </th>
      <th>
          <canvas
          baseChart
          [chartType]="'line'"
          [datasets]="chartData"
          [labels]="chartLabels"
          [options]="chartOptions"
          [legend]="true"
          >
          <!-- (chartClick)="onChartClick($event)"> -->
        </canvas>
      </th>
      <th>
          <canvas
          baseChart
          [chartType]="'line'"
          [datasets]="chartData"
          [labels]="chartLabels"
          [options]="chartOptions"
          [legend]="true"
          >
          <!-- (chartClick)="onChartClick($event)"> -->
        </canvas>
      </th>
  </tr>
  
  
  
</table>