<table>
    <tr>
      <td style="width: 450px; height: 100px;">
          <canvas id="canvas"></canvas>
      </td>
      <td style="width: 450px; height: 100px;">
          <canvas id="canvas2"></canvas>
      </td>
      <td style="width: 450px; height: 100px;">
          <canvas id="canvas3"></canvas>
      </td>
      <td style="width: 450px; height: 100px;">
          <canvas id="canvas4"></canvas>
      </td>
    </tr>
    <tr>
      <td style="width: 450px; height: 100px;">
          <canvas id="canvas5"></canvas>
      </td>
      <td style="width: 450px; height: 100px;">
          <canvas id="canvas6"></canvas>
      </td>
      <td style="width: 450px; height: 100px;">
          <canvas id="canvas7"></canvas>
      </td>
      <td style="width: 450px; height: 100px;">
          <canvas id="canvas8"></canvas>
      </td>
    </tr>
    <tr>
      <td style="width: 450px; height: 100px;">
          <canvas id="canvas9"></canvas>
      </td>
      <td style="width: 450px; height: 100px;">
          <canvas id="canvas10"></canvas>
      </td>
      <td style="width: 450px; height: 100px;">
          <canvas id="canvas11"></canvas>
      </td>
      <td style="width: 450px; height: 100px;">
          <canvas id="canvas12"></canvas>
      </td>
    </tr>
    <tr>
      <td style="width: 450px; height: 100px;">
          <canvas id="canvas13"></canvas>
      </td>
      <td style="width: 450px; height: 100px;">
          <canvas id="canvas14"></canvas>
      </td>
      <td style="width: 450px; height: 100px;">
          <canvas id="canvas15"></canvas>
      </td>
      <td style="width: 450px; height: 100px;">
          <canvas id="canvas16"></canvas>
      </td>
    </tr>
  </table>

<!-- 
<div style="width: 500px; height: 500px;">
  <canvas id="canvas"></canvas>
</div>
<div style="width: 500px; height: 500px;">
  <canvas id="canvas2"></canvas>
</div>
<div style="width: 500px; height: 500px;">
  <canvas id="canvas3"></canvas>
</div>
<div style="width: 500px; height: 500px;">
  <canvas id="canvas4"></canvas>
</div>
<div style="width: 500px; height: 500px;">
  <canvas id="canvas5"></canvas>
</div>
<div style="width: 500px; height: 500px;">
  <canvas id="canvas6"></canvas>
</div>

<div style="width: 500px; height: 500px;">
  <canvas id="canvas7"></canvas>
</div>
<div style="width: 500px; height: 500px;">
  <canvas id="canvas8"></canvas>
</div>
<div style="width: 500px; height: 500px;">
  <canvas id="canvas9"></canvas>
</div>
<div style="width: 500px; height: 500px;">
  <canvas id="canvas10"></canvas>
</div>
<div style="width: 500px; height: 500px;">
  <canvas id="canvas11"></canvas>
</div>
<div style="width: 500px; height: 500px;">
  <canvas id="canvas12"></canvas>
</div>
<div style="width: 500px; height: 500px;">
  <canvas id="canvas13"></canvas>
</div>
<div style="width: 500px; height: 500px;">
  <canvas id="canvas14"></canvas>
</div>
<div style="width: 500px; height: 500px;">
  <canvas id="canvas15"></canvas>
</div>
<div style="width: 500px; height: 500px;">
  <canvas id="canvas16"></canvas>
</div>
 -->
