<table>
    <tr>
        <th>
            <highcharts-chart 
                [Highcharts]="Highcharts"
                [options]="chartOptions"
                style="width: 300px; 
                    height: 300px; 
                    display: block;"
                >
            </highcharts-chart>
        </th>
        <th>
            <highcharts-chart 
                [Highcharts]="Highcharts"
                [options]="chartOptions"
                style="width: 300px; 
                    height: 300px; 
                    display: block;"
                >
            </highcharts-chart>
        </th>
        <th>
            <highcharts-chart 
                [Highcharts]="Highcharts"
                [options]="chartOptions"
                style="width: 300px; 
                    height: 300px; 
                    display: block;"
                >
            </highcharts-chart>
        </th>
        <th>
            <highcharts-chart 
                [Highcharts]="Highcharts"
                [options]="chartOptions"
                style="width: 300px; 
                    height: 300px; 
                    display: block;"
                >
            </highcharts-chart>
        </th>
    </tr>
    <tr>
        <th>
            <highcharts-chart 
                [Highcharts]="Highcharts"
                [options]="chartOptions"
                style="width: 300px; 
                    height: 300px; 
                    display: block;"
                >
            </highcharts-chart>
        </th>
        <th>
            <highcharts-chart 
                [Highcharts]="Highcharts"
                [options]="chartOptions"
                style="width: 300px; 
                    height: 300px; 
                    display: block;"
                >
            </highcharts-chart>
        </th>
        <th>
            <highcharts-chart 
                [Highcharts]="Highcharts"
                [options]="chartOptions"
                style="width: 300px; 
                    height: 300px; 
                    display: block;"
                >
            </highcharts-chart>
        </th>
        <th>
            <highcharts-chart 
                [Highcharts]="Highcharts"
                [options]="chartOptions"
                style="width: 300px; 
                    height: 300px; 
                    display: block;"
                >
            </highcharts-chart>
        </th>
    </tr>
    <tr>
        <th>
            <highcharts-chart 
                [Highcharts]="Highcharts"
                [options]="chartOptions"
                style="width: 300px; 
                    height: 300px; 
                    display: block;"
                >
            </highcharts-chart>
        </th>
        <th>
            <highcharts-chart 
                [Highcharts]="Highcharts"
                [options]="chartOptions"
                style="width: 300px; 
                    height: 300px; 
                    display: block;"
                >
            </highcharts-chart>
        </th>
        <th>
            <highcharts-chart 
                [Highcharts]="Highcharts"
                [options]="chartOptions"
                style="width: 300px; 
                    height: 300px; 
                    display: block;"
                >
            </highcharts-chart>
        </th>
        <th>
            <highcharts-chart 
                [Highcharts]="Highcharts"
                [options]="chartOptions"
                style="width: 300px; 
                    height: 300px; 
                    display: block;"
                >
            </highcharts-chart>
        </th>
    </tr>
    <tr>
        <th>
            <highcharts-chart 
                [Highcharts]="Highcharts"
                [options]="chartOptions"
                style="width: 300px; 
                    height: 300px; 
                    display: block;"
                >
            </highcharts-chart>
        </th>
        <th>
            <highcharts-chart 
                [Highcharts]="Highcharts"
                [options]="chartOptions"
                style="width: 300px; 
                    height: 300px; 
                    display: block;"
                >
            </highcharts-chart>
        </th>
        <th>
            <highcharts-chart 
                [Highcharts]="Highcharts"
                [options]="chartOptions"
                style="width: 300px; 
                    height: 300px; 
                    display: block;"
                >
            </highcharts-chart>
        </th>
        <th>
            <highcharts-chart 
                [Highcharts]="Highcharts"
                [options]="chartOptions"
                style="width: 300px; 
                    height: 300px; 
                    display: block;"
                >
            </highcharts-chart>
        </th>
    </tr>
</table>

