
<table style="width:100%;">
    
  <tr>
    <th>
        <fusioncharts
        width="400" 
        height="300"
        type="line"
        dataFormat="json"
        [dataSource]="data" >
      </fusioncharts>
    </th>
    <th>
        <fusioncharts
        width="400" 
        height="300"
        type="line"
        dataFormat="json"
        [dataSource]="data" >
        
      </fusioncharts>
    </th>
    <th>
        <fusioncharts
        width="400" 
        height="300"
        type="line"
        dataFormat="json"
        [dataSource]="data" >
      </fusioncharts>
    </th>
    <th>
        <fusioncharts
        width="400" 
        height="300"
        type="line"
        dataFormat="json"
        [dataSource]="data" >
      </fusioncharts>
    </th>
  </tr>
  <tr>
      <th>
          <fusioncharts
          width="400" 
          height="300"
          type="line"
          dataFormat="json"
          [dataSource]="data" >
        </fusioncharts>
      </th>
      <th>
          <fusioncharts
          width="400" 
          height="300"
          type="line"
          dataFormat="json"
          [dataSource]="data" >
        </fusioncharts>
      </th>
      <th>
          <fusioncharts
          width="400" 
          height="300"
          type="line"
          dataFormat="json"
          [dataSource]="data" >
        </fusioncharts>
      </th>
      <th>
          <fusioncharts
          width="400" 
          height="300"
          type="line"
          dataFormat="json"
          [dataSource]="data" >
        </fusioncharts>
      </th>
    </tr>
    <tr>
        <th>
            <fusioncharts
            width="400" 
            height="300"
            type="line"
            dataFormat="json"
            [dataSource]="data" >
          </fusioncharts>
        </th>
        <th>
            <fusioncharts
            width="400" 
            height="300"
            type="line"
            dataFormat="json"
            [dataSource]="data" >
          </fusioncharts>
        </th>
        <th>
            <fusioncharts
            width="400" 
            height="300"
            type="line"
            dataFormat="json"
            [dataSource]="data" >
          </fusioncharts>
        </th>
        <th>
            <fusioncharts
            width="400" 
            height="300"
            type="line"
            dataFormat="json"
            [dataSource]="data" >
          </fusioncharts>
        </th>
      </tr>
      <tr>
          <th>
              <fusioncharts
              width="400" 
              height="300"
              type="line"
              dataFormat="json"
              [dataSource]="data" >
            </fusioncharts>
          </th>
          <th>
              <fusioncharts
              width="400" 
              height="300"
              type="line"
              dataFormat="json"
              [dataSource]="data" >
            </fusioncharts>
          </th>
          <th>
              <fusioncharts
              width="400" 
              height="300"
              type="line"
              dataFormat="json"
              [dataSource]="data" >
            </fusioncharts>
          </th>
          <th>
              <fusioncharts
              width="400" 
              height="300"
              type="line"
              dataFormat="json"
              [dataSource]="data" >
            </fusioncharts>
          </th>
        </tr>

</table>



    
  
