<div>
    <ul>
        <li><a routerLink="/angular-fs">Angular-FusionCharts</a></li>
        <li><a routerLink="/hcharts">HighCharts</a></li>
        <li><a routerLink="/chartjs">chartJS</a></li>
        <li><a routerLink="/ng2charts">ng2Charts</a></li>
        <li><a routerLink="/ngxcharts">ngx-charts</a></li>
        <li><a routerLink="/canvasjs">canvas-js</a></li>
        <li><a routerLink="/ngxecharts">ngx-echarts</a></li>
    </ul>
</div>
<br>
<router-outlet></router-outlet>
