<table>
  <tr *ngFor='let x of xs'>
    <td>
        <div id="{{x}}" style="height: 220px; width: 400px;"></div>
    </td>
    <td>
        <div id="{{x + 1}}" style="height: 220px; width: 400px;"></div>
    </td>
    <td>
        <div id="{{x + 2}}" style="height: 220px; width: 400px;"></div>
    </td>
    <td>
        <div id="{{x + 3}}" style="height: 220px; width: 400px;"></div>
    </td>
  </tr>
  
</table>
