<table>
  <tr>
    <td>
      <div echarts [options]="chartOption" class="test-chart"></div>
    </td>
    <td>
      <div echarts [options]="chartOption" class="test-chart"></div>
    </td>
    <td>
      <div echarts [options]="chartOption" class="test-chart"></div>
    </td>
    <td>
      <div echarts [options]="chartOption" class="test-chart"></div>
    </td>
  </tr>
  <tr>
    <td>
      <div echarts [options]="chartOption" class="test-chart"></div>
    </td>
    <td>
      <div echarts [options]="chartOption" class="test-chart"></div>
    </td>
    <td>
      <div echarts [options]="chartOption" class="test-chart"></div>
    </td>
    <td>
      <div echarts [options]="chartOption" class="test-chart"></div>
    </td>
  </tr>
  <tr>
    <td>
      <div echarts [options]="chartOption" class="test-chart"></div>
    </td>
    <td>
      <div echarts [options]="chartOption" class="test-chart"></div>
    </td>
    <td>
      <div echarts [options]="chartOption" class="test-chart"></div>
    </td>
    <td>
      <div echarts [options]="chartOption" class="test-chart"></div>
    </td>
  </tr>
  <tr>
    <td>
      <div echarts [options]="chartOption" class="test-chart"></div>
    </td>
    <td>
      <div echarts [options]="chartOption" class="test-chart"></div>
    </td>
    <td>
      <div echarts [options]="chartOption" class="test-chart"></div>
    </td>
    <td>
      <div echarts [options]="chartOption" class="test-chart"></div>
    </td>
  </tr>
</table>